body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background: #2c3e50;
  color: #ecf0f1;
  padding: 1.5em 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  margin: 0.5em 0 0;
  font-size: 1.2em;
}

nav {
  background: #34495e;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
  transition: background 0.3s;
}

nav ul li a:hover {
  background: #16a085;
}

main {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
}

main section img {
  width: 100px;
  height: 121px;
}
section {
  margin-bottom: 2em;
  padding: 1.5em;
  background: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card {
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  margin-top: 0;
}

.project-card a {
  color: #16a085;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.skill {
  background: #1abc9c;
  padding: 0.5em 1em;
  border: 1px solid #16a085;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: background 0.3s;
}

.skill i {
  color: #2c3e50;
}

.skill:hover {
  background: #16a085;
}

form {
  background: #fff;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
}

form label {
  display: block;
  margin: 0.5em 0 0.2em;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1em;
}

form button {
  display: block;
  width: 100%;
  padding: 0.7em;
  background: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #16a085;
}

footer {
  background: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
